<section>
  <div class="header-anuncios">
    <h1>Pets para adoção</h1>
    <button class="botao-criar-anuncio" (click)="createAnnouncement()">Criar anuncio de adoção</button>
  </div>
  <div class="anuncios-abrigo">
    <div class="animal-anuncio" *ngFor="let pet of pets">
      <img src="" alt="">
      <div class="descricao-anuncio">
        <h2>{{pet.name}}</h2>
        <p>Anunciado em: {{pet.formattedDate}}</p>
        <app-button-alt [text]="'Editar anúncio de adoção'" (clickEvent)="recieveEditEvent()"/>
        <app-button-alt [text]="'Excluir anúncio de adoção'" [className]="'getpet-button-alt-delete'" (clickEvent)="recieveDeleteEvent()"/>
      </div>
    </div>
  </div>
</section>
