<section>
  <div class="header-anuncios">
    <h1>Pets para adoção</h1>
    <button class="botao-criar-anuncio" (click)="createAnnouncement()">Criar anuncio de adoção</button>
  </div>
  <div class="anuncios-abrigo">
    <div class="animal-anuncio" *ngFor="let animal of animaisAbrigoList">
      <img [src]="animal.image" alt="">
      <div class="descricao-anuncio">
        <h2>{{animal.name}}</h2>
        <p>Anunciado em: 18/12/2023</p>
        <app-button-alt [text]="'Excluir anúncio de adoção'" [className]="'getpet-button-alt-delete'" (clickEvent)="deleteAnimal(animal.id)"/>
      </div>
    </div>
  </div>
</section>
