  <div class="principal">
    <div class="div-esquerda-form-animal">

      <div class="div-animal-nome">
        <label for="animal-nome"><h1>Nome:</h1></label>
        <input [(ngModel)]="name" type="text">
      </div>

      <div class="div-imagens-animal">

        <button class="button-principal">
          <img class="img-principal-animal" src="" alt="">
        </button>

        <div class="div-imagens-secundarias-animal">

          <button class="button-secundario">
            <img src="" alt="">
          </button>
          <button class="button-secundario">
            <img src="" alt="">
          </button>
          <button class="button-secundario">
            <img src="" alt="">
          </button>

        </div>

      </div>

      <div class="form-descricao">

        <label for=""><h1>Descrição:</h1></label>
        <input type="text" [(ngModel)]="description" >

      </div>

     <div>
    </div>
  </div>
  <div class="div-direita-form-animal">
    <button (click)="addAnimal()" class="button-publicar">Publicar</button>
    <button class="button-cancelar">Cancelar</button>
  </div>
</div>
