.getpet-button-alt {
  color: white;
  background-color: #b41dc1;
  border: none;
  border-radius: 12px;
  padding: 8px;
  width: 16em;
  margin-top: 10px;
}

.getpet-button-alt:hover {
  background-color: #681470;
  cursor: pointer;
}

.getpet-button-alt-delete{
  color: white;
  background-color: #EB4848;
  border: none;
  border-radius: 12px;
  padding: 8px;
  width: 16em;
  margin-top: 10px;
}

.getpet-button-alt-delete:hover{
  background-color: #922d2d;
  cursor: pointer;
}

.getpet-button-alt-secondary{
  color: #b41dc1;
  background-color: white;
  border: none;
  box-shadow: inset -2px 0 0 #b41dc1, inset 0 -2px 0 #b41dc1, inset 2px 0 0 #b41dc1, inset 0 2px 0 #b41dc1; /* Fake internal border */
  border-radius: 12px;
  padding: 8px;
  width: 16em;
  margin-top: 10px;
}

.getpet-button-alt-secondary:hover{
  background-color: gainsboro;
  cursor: pointer;
}
