<app-headerbar></app-headerbar>
<div class="principal">
  <div class="animal">

    <div class="div-animal-nome">
      <h1>{{animal$.name}}</h1>
    </div>
    <div class="div-imagens">
      <button class="button-principal">
        <img [src]="animal$.image" alt="">
      </button>
    </div>
    <div class="div-descricao">
      <h1>Descrição</h1>
      <p>{{animal$.description}}</p>
    </div>


  </div>
  <div class="abrigo">
    <div class="abrigo-info">
      <div class="abrigo-info-nome">
        <h2>{{abrigo$.name}}</h2>
      </div>
      <div class="abrigo-info-endereco">
        <h2>Localização</h2>
        <h4>{{abrigo$.cidade}}</h4>
        <h4>{{abrigo$.bairro}}</h4>
      </div>
      <div class="abrigo-info-contato">
        <h2>Contato</h2>
        <h4>{{abrigo$.telefone}}</h4>
        <h4>{{abrigo$.email}}</h4>
      </div>

      <app-button [text]="'Página do Abrigo'" (clickEvent)="recieveEvent(animal$.abrigoId)"/>
    </div>
  </div>
</div>
