<app-modal [visible]="visible">
    <div>
        <h1>Aviso</h1>
        <div class="row">
            <img src="../../../assets/warning.svg" alt="delete icon">
            <p>Você deseja excluir esse animal cadastrado para adoção?</p>
        </div>
    </div>

    <div class="row">
        <app-button-alt [text]="'Cancelar'" (clickEvent)="recieveEvent()" [className]="'getpet-button-alt-secondary'"/>
        <app-button-alt [text]="'Excluir'" (clickEvent)="recieveDeleteEvent()" [className]="'getpet-button-alt-delete'"/>
    </div>
</app-modal>
