<app-headerbar />
<section>
  <div class="login-box">
    <div class="header-login">
      <h4>Tem um abrigo?</h4>
      <h1>Criar sua conta no Get-a-Pet</h1>
    </div>
    <div class="two-columns">
      <div class="form-login">
        <input [(ngModel)]="name" required placeholder="Nome do Abrigo" type="text" />
        <input [(ngModel)]="email" required placeholder="E-mail" type="text" />
        <input [(ngModel)]="telefone" required placeholder="Número de Telefone" type="text" />
        <input [(ngModel)]="cidade" required placeholder="Cidade" type="text" />
        <input [(ngModel)]="bairro" required placeholder="Bairro" type="text" />
        <input placeholder="Logo" type="file" />
        <div class="gap">
          <input required placeholder="Senha" [type]="checkboxSelected ? 'text' : 'password'" />
          <input required placeholder="Confirmar a Senha" [type]="checkboxSelected ? 'text' : 'password'" />
        </div>
        <h4>
          Use oito ou mais caracteres com combinação de letras, números e
          símbolos
        </h4>
        <label>
          <input
            type="checkbox"
            id="showPassword"
            name="showPassword"
            [checked]="checkboxSelected"
            (change)="checkboxSelected = !checkboxSelected"
          />
          Mostrar senha
        </label>
      </div>
      <div class="center">
        <img src="../../../assets/cachorro-cadastro.png" alt="delete icon" />
        <p>
          Seja bem vindo ao Get-a-Pet, uma plataforma para cadastrar pets para
          adoção
        </p>
      </div>
    </div>
    <div class="botoes-login">
      <div>
        <p>Já tem uma conta?</p>
        <button class="botao-criar-conta" (click)="goToLogin()">
          Faça login em vez disso
        </button>
      </div>
      <button (click)="addAbrigo()" class="botao-entrar">Criar Conta</button>
    </div>
  </div>
</section>
