<section class="">
  <div class="cadastro-box">
    <div class="cadastro-box-form">
      <h3>Tem um abrigo?</h3>
      <h1>Crie sua Conta no Get-a-Pet</h1>
      <input required class="input input-normal" placeholder="Nome do Abrigo" type="text">
      <input required class="input input-normal" placeholder="E-mail" type="text">
      <input required class="input input-normal" placeholder="Número de telefone" type="text">
      <input required class="input input-normal" placeholder="Cidade" type="text">
      <input required class="input input-normal" placeholder="Bairro" type="text">
      <div class="div-senhas">
        <input required class="input input-senha" placeholder="Senha" type="password">
        <input required class="input input-senha" placeholder="Confirmar senha" type="password">
        <p>Use oito ou mais caracteres com combinação de letras, números e símbolos</p>
      </div>
      <div class="botoes-div">
        <div class="login-div">
          <label>Já tem uma conta?</label>
          <button class="login-button">Faça login em vez disso</button>
        </div>
        <button class="criar-conta-button">Criar conta</button>
      </div>
    </div>
    <div class="cadastro-box-imagem">
      <img src="../../../assets/cachorro-cadastro.png" alt="">
      <p>Seja bem vindo ao Get-a-Pet, plataforma para cadastrar pets para doação.</p>
    </div>
  </div>
</section>
