<div class="principal">
  <div class="animal">

    <div class="div-animal-nome">
      <h1>Nome</h1>
      <h4>Disponivel para adoção desde</h4>
    </div>
    <div class="div-imagens">
      <button class="button-principal">
        <img src="" alt="">
      </button>
      <div class="div-imagens-secundarias-animal">
        <button class="button-secundario">
          <img src="" alt="">
        </button>
        <button class="button-secundario">
          <img src="" alt="">
        </button>
        <button class="button-secundario">
          <img src="" alt="">
        </button>
      </div>
    </div>
    <div class="div-descricao">
      <h1>Descrição</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
    </div>


  </div>
  <div class="abrigo">
    <div class="abrigo-info">
      <div class="abrigo-info-nome">
        <h2>Nome abrigo</h2>
      </div>
      <div class="abrigo-info-endereco">
        <h2>Localização</h2>
        <h4>Cidade</h4>
        <h4>Bairro</h4>
      </div>
      <div class="abrigo-info-contato">
        <h2>Contato</h2>
        <h4>petscontato.com.br</h4>
        <h4>(27)99999-9999</h4>
      </div>
      <button>Página do abrigo</button>
    </div>
  </div>
</div>
