<div class="sidebar">
  <div class="profile-side-bar">
    <img class="abrigo-logo" [src]="abrigo$.image" alt="Teste" />
    <div class="contato">
      <h1 class="abrigo-nome">{{abrigo$.name}}</h1>
      <h3 class="abrigo-email">{{abrigo$.email}}</h3>
      <h3 class="abrigo-telefone">{{abrigo$.telefone}}</h3>
    </div>
  </div>
  <div class="abrigo-buttons">
    <app-button
      [text]="'Editar dados'"
      (clickEvent)="recieveEventEditShelter($event)"
    />
    <app-button [text]="'Apoiar abrigo'" (clickEvent)="recieveEvent($event)" />
  </div>
</div>
<app-modal-edit-announcement [visible]="shelterEditModalVisible" />
<app-modal-help-shelter
  [visible]="shelterModalVisible"
  [description]="abrigo$.description"
  (notifyParent)="triggerShelterModalClosure()"
/>
