<app-headerbar />
<section>
  <div class="login-box">
    <div class="header-login">
      <h4>Get-a-Pet</h4>
      <h1>Fazer Login</h1>
    </div>
    <div class="form-login">
      <input required placeholder="E-mail" type="text" [(ngModel)]="email" />
      <input
        required
        placeholder="Senha"
        type="password"
        [(ngModel)]="password"
      />
    </div>
    <div class="botoes-login">
      <div>
        <h5>Não tem uma conta?</h5>
        <button class="botao-criar-conta" (click)="goToRegister()">
          Criar Conta
        </button>
      </div>
      <button class="botao-entrar" (click)="handleLogin()">Entrar</button>
    </div>
  </div>
</section>
